 .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
  }

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
  }

  .scollView {
    height:300px;
    overflow-y: scroll;
  }

.info-title {
      color: #ff9800;
      margin: 1.75rem 0 0.875rem;
  }
