 .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
  }

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
  }

  .scollView {
    height:300px;
    overflow-y: scroll;
  }

  .list-group-item.active {
    z-index: 2;
    color: #ffffff;
    background-color: #e4e4e4;
    border-color: #c5c5c5;
}

.card-collapse .card-header a:hover, .card-collapse .card-header a:active, .card-collapse .card-header a[aria-expanded="true"] {
    color: #ec6f2a;
}

