<div style = "height: 24vh; width: 100%;"></div>
<div class="main main-raised">
        <br>
    <div class="contact-content">
<div class="container">
        <center><h2 class="title">ทุนการศึกษา</h2></center>
        <h4 class="title">ทุนปริญญาตรี</h4>
        <div class="row">
              
         <div class="col-md-4" ng-repeat="item in news_list_tee">
           <div class="card card-raised card-background"  style="background-image: url({{item.topicPicture}})">
               <div class="card-body">
                     <h3 class="card-title">{{item.topicShort}}</h3>
                   <p class="card-description">
                      {{item.detailShort}}
                   </p>
                   <a ng-href="./news_each/{{item._id}}" class="btn btn-danger btn-round">
                       <i class="material-icons">format_align_left</i> อ่านต่อ...
                   </a>
               </div>
           </div>
         </div>
    

       </div>
       <div class="row">
            <div class="col-md-4 ml-auto mr-auto text-center">
              <a class="btn btn-primary btn-round"  href="./page/news_container/5a8f08b8f9bb232d7442ff0a/5a8470c028d2e92a0c753011" target="_blank" >
                  อ่านทั้งหมด <i class="material-icons">forward</i>
            </a>

          
            </div>
        </div>
       <hr>
       <h4 class="title">ทุนบัญฑิต</h4>
       <div class="row">
            
     <div class="col-md-4" ng-repeat="item in news_list_bundit">
       <div class="card card-raised card-background"  style="background-image: url({{item.topicPicture}})">
           <div class="card-body">
                 <h3 class="card-title">{{item.topicShort}}</h3>
               <p class="card-description">
                  {{item.detailShort}}
               </p>
               <a ng-href="./news_each/{{item._id}}" class="btn btn-danger btn-round">
                   <i class="material-icons">format_align_left</i> อ่านต่อ...
               </a>
           </div>
       </div>
     </div>

   </div>

   <div class="row">
        <div class="col-md-4 ml-auto mr-auto text-center">
          <a class="btn btn-primary btn-round"  href="./page/news_container/5a8f08b8f9bb232d7442ff0a/5a8470c028d2e92a0c753011" target="_blank" >
              อ่านทั้งหมด <i class="material-icons">forward</i>
        </a>

      
        </div>
    </div>

   </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>