<style>
    body {
        background: linear-gradient(60deg, rgba(248, 231, 149, 0.82), rgba(248, 99, 28, 0.95));
    }

    p {
        font-family: "Athiti", sans-serif;
        font-size: 18px !important;
    }

    h3 {
        font-weight: 600;
        color: #ff9800;
    }

    element.style {}

    a {
        font-family: "Athiti", sans-serif;
        font-size: 18px !important;
    }

    a {
        color: #f16025;
        font-weight: 600;
        text-decoration: none;
    }

    /* li {
        display: block;
    }

    li:before {
        
        content: "\e080";
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        float: left;
        margin-top: 4px;
        margin-left: -17px;
        color: #CCCCCC;
    } */
</style>
<script>


</script>

<div style="height: 24vh; width: 100%;"></div>
<div class="">

    <div class="main main-raised ">
        <div class="contact-content">
            <div class="section container">
                <h2 class="title">ข้อมูลการติดต่อ</h2>
                <hr>
                <div class="row">
                    <div class="col">
                        <h3>ที่อยู่</h3>
                        <p>คณะวิทยาศาสตร์
                            <br/>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                            <br/>ถนนฉลองกรุง เขตลาดกระบัง กรุงเทพ 10520
                        </p>
                    </div>
                    <div class="col">
                        <h3>แผนที่การเดินทาง</h3>
                        <p>
                            <ul>
                                <li>แผนที่เดินทางไปยังสถาบัน (เส้นทางใหม่)
                                    <a href="../assets/contact-info/new_way.pdf" target="_blank">( ดาวน์โหลดไฟล์ คลิกที่นี่)</a>
                                </li>
                                <li>แผนที่การเดินทางมายังสถาบัน ฯ
                                    <a href="../assets/contact-info/map1.jpg" target="_blank">(ดาวน์โหลดรูปขนาดใหญ่คลิกที่นี่)</a>
                                </li>
                                <li>แผนที่ภายในสถาบันฯ
                                    <a href="../assets/contact-info/map2.jpg" target="_blank">(ดาวน์โหลดรูปขนาดใหญ่คลิกที่นี่)</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="row" style=" padding: 40px 0px;">
                        <div id="contactUs2Map" class="map" style="width:100%;height:350px;"></div>
                </div>
                <div class="row" style="border: 4px solid rgba(244,117,33,1);border-radius: 10px;padding: 13px;">
                    <div class="col">
                        <h3>รถโดยสารประจำทาง</h3>
                        <p style="padding-left:30px;">
                            ๐ รถโดยสารประจำทางสาย 1013 ต้นทางจากซอยสุขุมวิท 77 (อ่อนนุช) ปลายทางตลาดหัวตะเข้
                            <br> ๐ รถโดยสารประจำทางสาย 1013 (คันเล็ก) ต้นทางจากศูนย์การค้าเสรีเซนเตอร์ ปลายทางนิคมอุตสาหกรรมลาดกระบัง
                            <br> ๐ รถประจำทางสาย 517 ต้นทางสวนจตุจักร ปลายทาง สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                            <br>
                        </p>
                        <h3>รถตู้โดยสารประจำทาง</h3>
                        <p style="padding-left:30px;">
                            ๐ สาย เดอะมอลล์บางกะปิ - พระจอมเกล้าลาดกระบัง
                            <br> ๐ สาย หมอชิต - อนุเสาวรีย์ชัยฯ - พระจอมเกล้าลาดกระบัง
                            <br> ๐ สาย ซีคอนแสควร์ - พระจอมเกล้าลาดกระบัง
                            <br>
                        </p>
                        <h3>เดินทางด้วยรถไฟ</h3>
                        <p style="padding-left:30px;">
                            ๐ ใช้เส้นทางรถไฟสายตะวันออก ลงที่สถานีพระจอมเกล้า จากสถานีกรุงเทพฯ (หัวลำโพง) ผ่านสถานีมักกะสัน คลองตัน หัวหมาก บ้านทับช้าง
                            ลาดกระบังและป้ายหยุดรถพระจอมเกล้า เช็คตารางเดินรถได้ที่นี่
                            <br> &nbsp;&nbsp;&nbsp;
                            <a href="http://www.railway.co.th/checktime/checktime.asp" target="_blank" class="dark-blue-color">ตารางการเดินรถไฟ</a>
                            <br>
                        </p>
                        <h3>เดินทางด้วยเครื่องบิน</h3>
                        <p style="padding-left:30px;">
                            ๐ ท่าอากาศยานสุวรรณภูมิ : Airport link สถานีสุวรรณภูมิ - สถานีลาดกระบัง
                            <br>
                        </p>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmLFmzc7yiD6kjh9TS9xb-Ei_ldzqVL14&callback=initMap"
    async defer></script>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/33/0/marker.js"></script>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('contactUs2Map'), {
            center: { lat: 13.7169504, lng: 100.7602926 },
            zoom: 14
        });
        var icon = {
            url: './assets/img/pin-kmit.png', // url
            scaledSize: new google.maps.Size(100, 140), // scaled size
            origin: new google.maps.Point(0, 0), // origin
            anchor: new google.maps.Point(0, 0) // anchor
        };


        var marker = new google.maps.Marker({
            position: { lat: 13.7169504, lng: 100.7602926 },
            map: map,

            icon: icon,
            scaledSize: new google.maps.Size(25, 25),
            title: 'KMITL'
        });


    }
</script>