<!--หลักสูตร-->


<div style="height: 28vh; width: 100%;"></div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="  cd-section text-center">
            <div class="">
                <br>
                <div class="container">
                    <div class="title">
                        <center>
                            <h2>
                                <b>ประวัติความเป็นมาของคณะวิทยาศาสตร์</b>
                            </h2>
                        </center>

                    </div>
                    <hr>
                    <!-- body -->

                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge">
                                <a>
                                    <i class="fa fa-circle" id=""></i>
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>เริ่มก่อตั้ง</h4>
                                </div>
                                <div class="timeline-body">
                                    <img width="80%" class="img-raised rounded img-fluid" src="https://campus.campus-star.com/app/uploads/2016/11/KMITL-2.jpg">
                                    <p class="timelineDescription">คณะวิทยาศาสตร์เริ่มก่อตั้งขึ้นในปี พ.ศ. 2520 โดยเป็นส่วนหนึ่งของคณะครุศาสตร์อุตสาหกรรม
                                        และ วิทยาศาสตร์ ดำเนินการสอนวิชาพื้นฐานทางวิทยาศาสตร์ และ คณิตศาสตร์ ให้กับนักศึกษาระดับปริญญาตรีทุกหลักสูตรในสถาบันฯ
                                    </p>
                                </div>
                                <div class="timeline-footer">
                                    <p class="text-right">พ.ศ. 2520</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-badge">
                                <a>
                                    <i class="fa fa-circle invert" id=""></i>
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>เริ่มเปิดรับนักศึกษา</h4>
                                </div>
                                <div class="timeline-body">
                                    <img width="80%" class="img-raised rounded img-fluid" src="http://1.bp.blogspot.com/-m3qM-nlELRY/UgNibewmwhI/AAAAAAAACnM/jvqvqrueUS8/s1600/_MG_4494.JPG">
                                    <p class="timelineDescription">ในปีการศึกษา 2525 ได้เปิดรับนักศึกษาระดับปริญญาตรีเป็นรุ่นแรก ในหลักสูตรวิทยาศาสตรบัณฑิตสาขาเคมีอุตสาหกรรม,
                                        ฟิสิกส์ประยุกต์ และ สถิติประยุกต์ และในปีการศึกษา 2527 และปีการศึกษา 2528 ได้เปิดรับนักศึกษาระดับปริญญาตรีสาขาคณิตศาสตร์ประยุกต์และสาขาเทคโนโลยีชีวภาพ</p>
                                </div>
                                <div class="timeline-footer">
                                    <p class="text-right">พ.ศ. 2525</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge">
                                <a>
                                    <i class="fa fa-circle" id=""></i>
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>จัดตั้งคณะวิทยาศาสตร์</h4>
                                </div>
                                <div class="timeline-body">
                                    <img width="80%" class="img-raised rounded img-fluid" src="https://uppic.cc/d/x4u">
                                    <p class="timelineDescription">จากการขยายภาระหน้าที่ความรับผิดชอบ จึงได้มีพระราชกฤษฎีกาจัดตั้งคณะวิทยาศาสตร์ขึ้น เมื่อวันที่
                                        8 ธันวาคม 2531 และได้ขยายการผลิตบัณฑิตระดับปริญญาตรีในสาขาอื่นๆ รวมทั้งเปิดรับนักศึกษาระดับปริญญาโทและปริญญาเอก</p>
                                </div>
                                <div class="timeline-footer">
                                    <p class="text-right">8 ธันวาคม 2531</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-badge">
                                <a>
                                    <i class="fa fa-circle invert" id=""></i>
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>เข้าสู่หน่วยงานในกำกับของรัฐ</h4>
                                </div>
                                <div class="timeline-body">
                                    <img width="80%" class="img-raised rounded img-fluid" src="https://i.ytimg.com/vi/75dh2nRRDnU/maxresdefault.jpg">
                                    <p class="timelineDescription">สถาบันฯ มีฐานะเป็นหน่วยงานในกำกับของรัฐ ซึ่งไม่เป็นส่วนราชการตามกฎหมายว่าด้วยระเบียบบริหารราชการแผ่นดิน
                                        กฎหมายว่าด้วยระเบียบบริหารราชการกระทรวงศึกษาธิการ และกฎหมายว่าด้วยการปรับปรุงกระทรวง
                                        ทบวง กรม และไม่เป็นรัฐวิสาหกิจตามกฎหมายว่าด้วยวิธีการงบประมาณ และกฎหมายอื่น ตามพระราชบัญญัติสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                                        พ.ศ. 2551</p>
                                </div>
                                <div class="timeline-footer">
                                    <p class="text-right">8 มีนาคม พ.ศ. 2551</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge">
                                <a>
                                    <i class="fa fa-circle" id=""></i>
                                </a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>จัดตั้งส่วนงาน</h4>
                                </div>
                                <div class="timeline-body">
                                    <img width="80%" class="img-raised rounded img-fluid" src="https://i.ytimg.com/vi/75dh2nRRDnU/maxresdefault.jpg">
                                    <p class="timelineDescription">มีการจัดตั้งส่วนงานในสถาบันตามประกาศในราชกิจจานุเบกษา วันที่ 14 กรกฎาคม พ.ศ. 2551 และส่วนงานวิชาการระดับคณะ
                                        โดยมีการแบ่งหน่วยงานภายในตามประกาศสถาบัน พ.ศ. 2552 ดังนี้
                                    </p>
                                    <p class="timelineDescription">1. ส่วนสนับสนุนวิชาการ
                                        <br/> 2. ส่วนวิชาการ ประกอบด้วย
                                        <br/>&emsp;- สาขาวิชาคณิตศาสตร์
                                        <br/>&emsp;- สาขาวิชาวิทยาการคอมพิวเตอร์
                                        <br/>&emsp;- สาขาวิชาเคมี
                                        <br/>&emsp;- สาขาวิชาชีววิทยา
                                        <br/>&emsp;- สาขาวิชาฟิสิกส์
                                        <br/>&emsp;- สาขาวิชาสถิติ
                                        <br/>&emsp;- ศูนย์เครื่องมือวิทยาศาสตร์
                                    </p>
                                </div>
                                <div class="timeline-footer">
                                    <p class="text-right">14 กรกฎาคม พ.ศ. 2551</p>
                                </div>
                            </div>
                        </li>


                        <li class="clearfix no-float"></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
<!--end หลักสูตร-->