<style>
.container [class*="col-"] {
  border: 1px solid rgba(244,117,33,1);
  border-top: 0;
  border-left: 0;
}
.info .info-title {
    color: #ff9800;
    margin: 1.75rem 0 0.875rem;
}

.info .icon {
    color: #ffeb3b;
}

</style>

<div style="height: 28vh; width: 100%;"></div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="  cd-section text-center">


<div class="">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <br/><h2 class="title">หลักสูตรปริญญาโท</h2>
                </div>
                <hr>
                <br>  <br>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                        
                                                <img style="width:124px;height:124px" class="img media-object" src="./assets/img/Chem_logo.png" alt="...">
                                           
                                        
                           
                                </div>
                                <h4 class="info-title">ภาควิชาเคมี</h4>
                                <p>มุ่งเน้นผลิตบัณฑิตเป็นนักคอมพิวเตอร์ที่สามารถวิเคราะห์ ออกแบบและพัฒนาระบบงานทางด้านคอมพิวเตอร์โดยใช้เทคโนโลยีที่ทันสมัยและเหมาะสม</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                    <div class="icon">
                                            
                                                    <img style="width:124px;height:124px" class="img media-object" src="./assets/img/Bio_logo.png" alt="...">
                                               
                                            
                               
                                    </div>
                                <h4 class="info-title">ภาควิชาชีววิทยา</h4>
                                <p>มุ่งเน้นผลิตบัณฑิตเป็นนักคอมพิวเตอร์ที่สามารถวิเคราะห์ ออกแบบและพัฒนาระบบงานทางด้านคอมพิวเตอร์โดยใช้เทคโนโลยีที่ทันสมัยและเหมาะสม</p>
                            </div>
                        </div>
                        <div class="col-sm-4" style="border-right:  none;">
                            <div class="info">
                                    <div class="icon">
                                            
                                                    <img style="width:124px;height:124px" class="img media-object" src="./assets/img/CS_logo.png" alt="...">
                                               
                                            
                               
                                    </div>
                                    
                                <h4 class="info-title">ภาควิชาวิทยาการคอมพิวเตอร์</h4>



                                <p>มุ่งเน้นผลิตบัณฑิตเป็นนักคอมพิวเตอร์ที่สามารถวิเคราะห์ ออกแบบและพัฒนาระบบงานทางด้านคอมพิวเตอร์โดยใช้เทคโนโลยีที่ทันสมัยและเหมาะสม</p>
                                
                                <a href="./department.html#/course_detail"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต (วิทยาการคอมพิวเตอร์) </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style=" border-bottom: none;">
                            <div class="info">
                                    <div class="icon">
                                            
                                                    <img style="width:124px;height:124px" class="img media-object" src="./assets/img/Math_logo.png"  alt="...">
                                               
                                            
                               
                                    </div>
                                <h4 class="info-title">ภาควิชาคณิตศาสตร์</h4>
                                <p>มุ่งเน้นผลิตบัณฑิตเป็นนักคอมพิวเตอร์ที่สามารถวิเคราะห์ ออกแบบและพัฒนาระบบงานทางด้านคอมพิวเตอร์โดยใช้เทคโนโลยีที่ทันสมัยและเหมาะสม</p>
                            </div>
                        </div>
                        <div class="col-sm-4" style=" border-bottom: none;">
                            <div class="info">
                                    <div class="icon">
                                            
                                                    <img style="width:124px;height:124px" class="img media-object"   src="./assets/img/Physic_logo.png"  alt="...">
                                               
                                            
                               
                                    </div>
                                <h4 class="info-title">ภาควิชาฟิสิกส์</h4>
                                <p>มุ่งเน้นผลิตบัณฑิตเป็นนักคอมพิวเตอร์ที่สามารถวิเคราะห์ ออกแบบและพัฒนาระบบงานทางด้านคอมพิวเตอร์โดยใช้เทคโนโลยีที่ทันสมัยและเหมาะสม</p>
                            </div>
                        </div>
                        <div class="col-sm-4" style="border-right: none; border-bottom: none;">
                            <div class="info">
                                    <div class="icon">
                                            
                                                    <img style="width:124px;height:124px" class="img media-object" src="./assets/img/Stat_logo.png" alt="...">
                                               
                                            
                               
                                    </div>
                                <h4 class="info-title">ภาควิชาสถิติ</h4>
                                <p>มุ่งเน้นผลิตบัณฑิตเป็นนักคอมพิวเตอร์ที่สามารถวิเคราะห์ ออกแบบและพัฒนาระบบงานทางด้านคอมพิวเตอร์โดยใช้เทคโนโลยีที่ทันสมัยและเหมาะสม</p>
                            </div>
                        </div>
                    </div>  <br>  <br>
                </div><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
