<style>
.container [class*="col-"] {
  border: 1px solid rgba(244,117,33,1);
  border-top: 0;
  border-left: 0;
}
.info .info-title {
    color: #ff9800;
    margin: 1.75rem 0 0.875rem;
}

.info .icon {
    color: #ffeb3b;
}
.info p {
    color: #999999;
    font-size: 18px !important;
    font-weight: 600 !important;
}
a {
    font-family: "Athiti", sans-serif;
    font-size: 16px !important;
    color: #f1642d;
}
</style>

<div style="height: 28vh; width: 100%;"></div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="  cd-section text-center">


<div class="">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <br/><h2 class="title">หลักสูตรปริญญาตรี</h2>
                </div>
                <hr>
                <br>  <br>
               <b> <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                        
                                                <img style="width:124px;height:124px" class="img media-object" src="./assets/img/Chem_logo.png" alt="...">
                                           
                                        
                           
                                </div>
                                <h3 class="info-title">ภาควิชาเคมี</h3>
                                <p>บูรณาการความรู้และทักษะทางวิทยาศาสตร์โดยเน้นหลักการทางเคมีในการคิด วิจัย วิเคราะห์ และแก้ปัญหา</p>
                                
                                <!-- <a target="_blank" style = "float: left; text-align: -webkit-auto;" target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/chem_c2551.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาเคมีสิ่งแวดล้อม หลักสูตรปี พ.ศ. 2551 </a><br/> -->
                                <!-- <a target="_blank" style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/chem_c2554.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาเคมีสิ่งแวดล้อม หลักสูตรปี พ.ศ. 2554 </a><br/> -->
                                <a target="_blank" style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/chem_c2560.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาเคมีสิ่งแวดล้อม หลักสูตรปี พ.ศ. 2560 </a><br/><br/>
                                <!-- <a target="_blank"  style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/indus_c2552.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาเคมีอุตสาหกรรม หลักสูตรปี พ.ศ. 2552</a><br/> -->
                                <!-- <a target="_blank"  style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/indus_c2554.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาเคมีอุตสาหกรรม หลักสูตรปี พ.ศ. 2554</a><br/> -->
                                <a target="_blank"  style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/indus_c2560.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาเคมีอุตสาหกรรม หลักสูตรปี พ.ศ. 2560</a><br/><br/>
                                <!-- <a target="_blank"  style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/petro_c2550.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาปิโตรเคมี (นานาชาติ) หลักสูตรปี พ.ศ. 2550</a><br/><br/> -->
                            
                            
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                    <div class="icon">
                                            
                                                    <img style="width:124px;height:124px" class="img media-object" src="./assets/img/Bio_logo.png" alt="...">
                                               
                                            
                               
                                    </div>
                                <h3 class="info-title">ภาควิชาชีววิทยา</h3>
                               <p style="font-size: 18px">สร้างและพัฒนาองค์ความรู้ทางวิทยาศาสตร์ประยุกต์ เพื่อให้ได้บุคลากรที่มีความรู้ความสามารถ</p>
                            
                                <!-- <a target="_blank" style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/bio_c2551.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาเทคโนโลยีชีวภาพ หลักสูตรปี พ.ศ. 2551 </a><br/> -->
                                <!-- <a target="_blank" style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/bio_c2554.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาเทคโนโลยีชีวภาพ หลักสูตรปี พ.ศ. 2554 </a><br/> -->
                                <a target="_blank" style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/bio_c2560.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาเทคโนโลยีชีวภาพ หลักสูตรปี พ.ศ. 2560 </a><br/>
                                <!-- <a target="_blank" style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/micro_c2552.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาจุลชีววิทยาอุตสาหกรรม หลักสูตรปี พ.ศ. 2552</a><br/> -->
                                <!-- <a target="_blank" style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/micro_c2554_n.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาจุลชีววิทยาอุตสาหกรรม หลักสูตรปี พ.ศ. 2554</a><br/> -->
                                <a target="_blank" style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/micro_c2560.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาจุลชีววิทยาอุตสาหกรรม หลักสูตรปี พ.ศ. 2560</a><br/>
                                <a target="_blank" style = "float: left; text-align: -webkit-auto;"target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/micro_c2559_n.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาจุลชีววิทยาอุตสาหกรรม (นานาชาติ) หลักสูตรปี พ.ศ. 2559</a><br/>
                               
                            </div>
                        </div>
                        <div class="col-sm-4" style="border-right:  none;">
                            <div class="info">
                                    <div class="icon">
                                            
                                                    <img style="width:124px;height:124px" class="img media-object" src="./assets/img/CS_logo.png" alt="...">
                                               
                                            
                               
                                    </div>
                                    
                                <h3 class="info-title">ภาควิชาวิทยาการคอมพิวเตอร์</h3>



                                <p>มุ่งเน้นผลิตบัณฑิตเป็นนักคอมพิวเตอร์ที่สามารถวิเคราะห์ ออกแบบและพัฒนาระบบงานทางด้านคอมพิวเตอร์โดยใช้เทคโนโลยีที่ทันสมัยและเหมาะสม</p>
                                
                                <!-- <a target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/com_c2548.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์  หลักสูตรปี พ.ศ. 2548</a><br/> -->
                                <!-- <a target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/com_c2554.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์  หลักสูตรปี พ.ศ. 2554</a><br/> -->
                                <a target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/com_c2559.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์  หลักสูตรปี พ.ศ. 2559</a><br/>
                            </div>
                        </div>
                    </div>
                </b>
                    <div class="row">
                        <div class="col-sm-4" style=" border-bottom: none;">
                            <div class="info">
                                    <div class="icon">
                             <b>               
                                                    <img style="width:124px;height:124px" class="img media-object" src="./assets/img/Math_logo.png"  alt="...">
                                               
                                            
                               
                                    </div>
                                <h3 class="info-title">ภาควิชาคณิตศาสตร์</h3>
                                <p>มุ่งเน้นผลิตบัณฑิต มีความรู้ใน ภาคทฤษฎีและมีทักษะปฏิบัติ อย่างมีคุณภาพ </p>
                                
                                <!-- <a target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/math_c2548.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์  หลักสูตรปี พ.ศ. 2548</a><br/> -->
                                <!-- <a target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/math_c2554(edit).pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาวิทยาการคอมพิวเตอร์  หลักสูตรปี พ.ศ. 2554</a><br/> -->
                                <a target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/math_c2560.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาคณิตศาสตร์ประยุกต์  หลักสูตรปี พ.ศ. 2560</a><br/>
                                </b>
                            </div>
                        </div>
                        <div class="col-sm-4" style=" border-bottom: none;">
                            <div class="info">
                               <b>     <div class="icon">
                                            
                                                    <img style="width:124px;height:124px" class="img media-object"   src="./assets/img/Physic_logo.png"  alt="...">
                                               
                                            
                               
                                    </div>
                                <h3 class="info-title">ภาควิชาฟิสิกส์</h3>
                                <p>มุ่งเน้นให้นักศึกษาเป็นนักวิทยาศาสตร์และนักวิจัยที่มีความเชี่ยวชาญ
                                        อย่างลึกซึ้งทั้งทฤษฎีและปฏิบัติโดยเน้นวิทยาการทางด้านฟิสิกส์ประยุกต์</p>
                                
                                <!-- <a target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/physic_c2551.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาฟิสิกส์ประยุกต์  หลักสูตรปี พ.ศ. 2551</a><br/> -->
                                <!-- <a target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/physic_c2554.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาฟิสิกส์ประยุกต์  หลักสูตรปี พ.ศ. 2554</a><br/> -->
                                <a target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/physic_c2560.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาฟิสิกส์ประยุกต์  หลักสูตรปี พ.ศ. 2560</a><br/>
                                </b> 
                            </div>
                        </div>
                        <div class="col-sm-4" style="border-right: none; border-bottom: none;">
                           <b> <div class="info">
                                    <div class="icon">
                                            
                                                    <img style="width:124px;height:124px" class="img media-object" src="./assets/img/Stat_logo.png" alt="...">
                                               
                                            
                               
                                    </div>
                                <h3 class="info-title">ภาควิชาสถิติ</h3>
                                <p>ผลิตบุคลากรทางด้านสถิติที่มีความรู้ความสามารถทั้งในด้านทฤษฎีและการประยุกต์ในด้าน
                                        สถิติการวิจัยดําเนินงาน และวิทยาการข้อมูล ตลอดจนสามารถนําเอาเทคโนโลยีที่ทันสมัย</p>
                                <a target="_blank" href="http://www.reg.kmitl.ac.th/curriculum/file/bachelor/05/statis_c2560.pdf"> <i class="material-icons">content_paste</i> :  วิทยาศาสตรบัณฑิต สาขาวิชาสถิติประยุกต์  หลักสูตรปี พ.ศ. 2560</a><br/>
                                </b>
                            </div>
                        </div>
                    </div>  <br>  <br>
                </div><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
