
   <div  ng-include src="'./partial/section/home-header.html'">

   </div>
   
   
   <div class="main main-raised">
        <div class="container-fluid">


            <div class="container text-center">
               
                <div ng-include src="'./partial/section/home-first.html'"></div>
                
              
            </div>

          

      
             
                
                 
             
                   


         
        </div>
    </div>

    <div ng-include src="'./partial/section/home-news.html'">
        
                    </div>

               
   <div class="main section ">       

    <div ng-include src="'./partial/section/home-docs.html'"></div>
</div>

<div class="main  main-raised">   
        <div ng-include src="'./partial/section/home-person.html'"></div>
    </div>


    
        <div ng-include src="'./partial/section/home-qouat.html'"></div>

            <!--หลักสูตร-->

            <div class=" cd-section text-center">
            
                <div ng-include src="'./partial/section/home-course.html'"></div>

            <!--  start ภาควิชา-->


            <br><br>
<div class="main  main-raised">   
        <br>
            <div ng-include src="'./partial/section/home-department.html'"></div>
            <br><br><br> 
            
                            </div>
                        </div>
            <!-- end ภาควิชา-->
        <!--      <div class="section section-contacts">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center title">Work with us</h2>
                        <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Your Name</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Your Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                                <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto text-center">
                                    <button class="btn btn-primary btn-raised">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
-->
            <!--end contact-->



            
       <!--     *********    CONTACT US 2     *********      -->
       <div class="contactus-2">
            
            <div id="contactUs2Map" class="map" style="width:100%;height:600px;"></div>
            <div class="col-md-6">
                <div class="card card-contact card-raised" style="margin-left: 0px; margin-right: 0px;">
                    <form id="contact-form2" method="post">
                        <div class="card-header card-header-warning text-center">
                            <h4 class="card-title"> ช่องทางติดต่อ</h4>
                        </div>
                        <div class="card-body">
                            <div class="container main main-raise">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-warning">
                                            <i class="material-icons">phone</i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">ติดต่อ</h5>
                                       
                                                โทร.02-329-8400 ถึง 8411 
                                                <br> โทรสาร.02-329-8412
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-warning">
                                            <i class="material-icons">pin_drop</i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title"> คณะวิทยาศาสตร์</h5>
                                         คณะวิทยาศาสตร์ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง
                                            <br/>ถนนฉลองกรุง เขตลาดกระบัง กรุงเทพ 10520
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmLFmzc7yiD6kjh9TS9xb-Ei_ldzqVL14&callback=initMap"
        async defer></script>
        <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/33/0/marker.js"></script>
        <script>
           var map;
           function initMap() {
             map = new google.maps.Map(document.getElementById('contactUs2Map'), {
               center: {lat: 13.7169504, lng: 100.7602926},
               zoom: 14
             });


             var marker = new google.maps.Marker({
          position: {lat: 13.7169504, lng: 100.7602926},
          map: map,
          icon: 'http://www.kmitl.ac.th/frontend/images/logo-insite.png',
          title: 'KMITL'
        });


           }
         </script>
       
   