<!--หลักสูตร-->
<div style="height: 24vh; width: 100%;"></div>


<!--
<div class="main main-raised"ng-controller="personelCtrl">
    <div class="contact-content">
        <div class="  cd-section text-center">
                <div class="container">
                    <div class="title">
                        <center></br>
                            <h2>
                                <b>บุคคลากรคณะวิทยาศาสตร์</b>
                            </h2><hr>
                        </center>


                        <div class="row">
                                <div class="col-md-3" ng-repeat = "personel_item in personel_list">
                                  <center>
                                  <div class="card card-profile " style="max-width: 250px" data-toggle="modal" ng-click = "showDetail();" >
                                    <div class="card-header card-header-image">
                                        <img class="img" style = "width: 222px; height: 252px;" ng-if = "personel_item.picture == null" src="assets\img\image_placeholder.jpg">
                                        <img class="img" style = "width: 222px; height: 252px;" ng-if = "personel_item.picture != null"src="{{personel_item.picture}}">                                        
                                    </div>
                        
                                    <div class="card-body ">
                                      <h4 class="card-title">{{personel_item.personelName}}</h4>
                                      <h6 class="card-category text-gray">{{personel_item.position}}</h6>
                                    </div>
                                  </div>
                                </center>
                                </div>
                            </div>


                    </div>
                    <hr>

             
                </div>

            </div>
        </div>
</div>
-->
<!--end หลักสูตร-->

<style>
@import url("https://fonts.googleapis.com/css?family=Athiti");
@font-face {
  font-family: "TH Sarabun New Regular";
  src: url("./assets/fonts/thsarabunnew.eot");
  src: url("./assets/fonts/thsarabunnew.eot") format("embedded-opentype"), url("./assets/fonts/thsarabunnew.woff") format("woff"), url("./assets/fonts/thsarabunnew.ttf") format("truetype"), url("../fonts/thsarabunnew.svg#THSarabunNewRegular") format("svg"); }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("./assets/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("./assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("./assets/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("./assets/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("./assets/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("./assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: bold;
  font-style: normal; }
  


  
  h1,h2,h3,h4,h5,h6{
    font-family: "Athiti", sans-serif;
  }


    .navbar .navbar-nav .nav-item .nav-link{
        font-family: "Athiti", sans-serif;
        font-size: 18px !important;
    }
    .title {
        font-family: "Athiti", sans-serif;
    }
    .card .card-title{
        font-family: "Athiti", sans-serif;
    }
    p{
        font-family: "Athiti", sans-serif;
        font-size: 16px !important;
    }
    .info-title{
        font-family: "Athiti", sans-serif;
    }
html,
body,
.block-card {

  min-width: auto;
  
}
.four {
  
  height: 80px;

  
}
.left {
  flex: 1;
  z-index: 1;
  height: 100%;
  background-size: cover;
  background-image: url('http://s966.info/library/r/red-curtain-background-hd/red-curtain-background-hd-11.jpg');
}
.right {
  flex: 1;
  z-index: 1;
  height: 100%;
  background-size: cover;
  background-image: url('http://s966.info/library/r/red-curtain-background-hd/red-curtain-background-hd-11.jpg');
}
#Laag_1 {
  z-index: 12;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 46.3%;
  cursor: pointer;
}
.open {
  animation-name: spin;
  animation-duration: 100ms;
  animation-iteration-count: 5;
  animation-timing-function: linear;
}
#container-card {

  text-align: center;
  z-index: 0;

  background-color: #F5F5F5;
}
.card {
  margin: 10px;
  display: inline-block;
  position: relative;
  width: 220px;
  height: 290px;
  opacity: 0.85;
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  border-radius: 5px;
}
.front {
  transform: rotateY(0deg);
  background: #9152f8;
  background: -webkit-linear-gradient(top, #ffb547, #ff6363);
  background: -o-linear-gradient(top, #ffb547, #ff6363);
  background: -moz-linear-gradient(top, #ffb547, #ff6363);
  background: linear-gradient(top, #ffb547, #ff6363);
  text-align: center;
  padding: 30px;
}
.back {
  background: #9152f8;
  background: -webkit-linear-gradient(top, #ffb547, #ff6363);
  background: -o-linear-gradient(top, #ffb547, #ff6363);
  background: -moz-linear-gradient(top, #ffb547, #ff6363);
  background: linear-gradient(top, #ffb547, #ff6363);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 40px 15px;
  color: #fff;
}

.back .contact {
  height: 90%;
  width: 100%;
  border: 5px solid white;
  display: inline-block;
}
.front .contact {
  height: 120px;
  width: 120px;
  border: 5px solid white;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px;
}
.front .name {
  display: inline-block;
  font-size: 18px;
  color: #fff;
}
.front .job {
  color: #fff;
  height: 120px;
}
.front hr {
  border: none;
  color: white;
  border: 1px solid;
}

</style>

    
<!-- <section class="block-card">
        <div class="left"> </div>
        <div class="right"></div>
      </section>
    
      
      <div id='container-card'>
        <div class='four'>    
            <br>
            <h2>
                <b>บุคคลากรคณะวิทยาศาสตร์</b>
            </h2>
        <hr>
        </div>
        <br>
        <br>
        <br>

        <div class="row justify-content-center">
          <div class = "col-md-3" ng-repeat = "personel_item in personel_list" data-toggle="modal">
        <div class='card'  ng-click = "showDetail();" >
          <div class='front'>
            <img  class='contact' ng-if = "personel_item.picture == null" src="assets\img\image_placeholder.jpg">
            <img class='contact' ng-if = "personel_item.picture != null"src="{{personel_item.picture}}">                                        
            <span class='name'>{{personel_item.personelName}}</span>
            <hr>
            <span class='job container'>{{personel_item.position}}
        
            </span>
          
          </div>
          </div>
          </div>
       

    </div> -->

        
        <!-- <div style="height: 20vh; width: 100%;"></div> -->
        
        <div class="main main-raised" ng-controller="personelCtrl">
            <div class="contact-content">
                <div class="  cd-section text-center">
        
        
        <div class="">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <br><h2 class="title">บุคลากร</h2>
                        </div>
                        <hr>
                        <br>  <br>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class = "col-md-3" ng-repeat = "personel_item in personel_list" data-toggle="modal">
                              <div class='card'  ng-click = "showDetail();" >
                                <div class='front'>
                                  <img  class='contact' ng-if = "personel_item.picture == null" src="assets\img\image_placeholder.jpg">
                                  <img class='contact' ng-if = "personel_item.picture != null"src="{{personel_item.picture}}">                                        
                                  <span class='name'>{{personel_item.personelName}}</span>
                                  <hr>
                                  <span class='job container'>{{personel_item.position}}
                              
                                  </span>
                                
                                </div>
                                </div>
                                </div>
                        </div><br>
                    </div>
                  </div>
                </div>
              </div>
            
        
                              </div>
                    