<div style="height: 28vh; width: 100%;">
</div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="  cd-section text-center">
            <div class="">
                <br>
                <div class="container">
                    <div class="title">
                        <center>
                            <h2>
                                <b>ปรัชญา-ปณิธาน-วิสัยทัศน์-พันธกิจ</b>
                            </h2>
                        </center>

                    </div>
                    <hr>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="card card-nav-tabs">
                                <div class="card-header card-header-warning">
                                    <h3>ปรัชญา</h3>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">การศึกษา วิจัย ด้านวิทยาศาสตร์และเทคโนโลยีเป็นรากฐานที่ดีของการพัฒนาประเทศ</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card card-nav-tabs">
                                <div class="card-header card-header-warning">
                                    <h3>ปณิธาน</h3>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">มุ่งมั่นให้การศึกษาและวิจัย เพื่อผลิตทรัพยากรมนุษย์ที่มีความรู้ทางด้านวิทยาศาสตร์และเทคโนโลยี ควบคู่จริยธรรม และรักษาไว้ซึ่งศิลปวัฒนธรรมอันดีของประเทศ</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card card-nav-tabs">
                                <div class="card-header card-header-warning">
                                    <h3>วิสัยทัศน์</h3>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">เป็นสถาบันแนวหน้าในเอเชีย ทางการศึกษา วิจัย และนวัตกรรม ด้านวิทยาศาสตร์และเทคโนโลยีในปี พ.ศ. ๒๕๖๗
                                            A leading institute in ASIA for education, research and innovation in science and technology in 2024</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card card-nav-tabs">
                                <div class="card-header card-header-warning">
                                    <h3>พันธกิจ</h3>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">1. ผลิตบัณฑิตที่มีความเป็นเลิศทางวิชาการ ตรงตามความต้องการของประเทศและมีมาตรฐานระดับเอเชีย<br/>
                                            2. พัฒนางานวิจัยที่มีคุณภาพระดับเอเชีย<br/>
                                            3. ให้บริการทางวิชาการแก่สังคมทั้งในประเทศและระดับเอเชีย<br/>
                                            4. ส่งเสริมและสนับสนุนการทำนุบำรุงศิลปวัฒนธรรม</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card card-nav-tabs">
                                <div class="card-header card-header-warning">
                                    <h3>วัตถุประสงค์ของคณะวิทยาศาสตร์</h3>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">1. เพื่อผลิตบัณฑิตด้านวิทยาศาสตร์และเทคโนโลยีที่มีคุณภาพ มีคุณธรรม จริยธรรมให้สอดคล้องกับความต้องการของสังคม<br/>
                                            2. เพื่อสร้างและพัฒนาหลักสูตร บุคลากร อุปกรณ์ สื่อการสอน และแหล่งความรู้ให้อยู่ในระดับสากล<br/>
                                            3. สนับสนุนและส่งเสริมการวิจัยเชิงประยุกต์และแสวงหาองค์ความรู้ใหม่<br/>
                                            4. เพื่อประยุกต์ความรู้ในสาขาต่างๆ ด้านวิทยาศาสตร์และเทคโนโลยี สำหรับบริการทางวิชาการแก่สังคม อันเป็นการส่งเสริมคุณภาพชีวิตในสังคมและการพึ่งพาตนเองของประเทศ<br/>
                                            5. ส่งเสริมและสนับสนุนการทำนุบำรุงศิลปวัฒนธรรมไทย</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>