<div style="height: 24vh; width: 100%;">
</div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="  cd-section text-center">
            <div class="">
                <br>
                <div class="container">
                    <div class="title">
                        <center>
                            <h2>
                                <b>ปรัชญา-ปณิธาน-วิสัยทัศน์-พันธกิจ</b>
                            </h2>
                        </center>

                    </div>
                    <hr>

                    <style>
                    
                    .card-hover:hover {
                        webkit-transform: scale(1.02);
                                                    transform: scale(1.02);
                                }
                        .card-hover {

                            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
                        }
                                
                                </style>
                    <div class="container">
                        <div class="row align-items-start">
                            <div class="col-md-6 col-xs-12">

                                <div class="card  card-hover" >
                                    <div class="card-body">
                                        <h3 class="card-title" style="color:coral">ปรัชญา</h3>
                                        <hr>
                                        <p class="card-text text-left ">การศึกษา วิจัย ด้านวิทยาศาสตร์และเทคโนโลยีเป็นรากฐานที่ดีของการพัฒนาประเทศ</p>
                                    </div>
                                </div>
                                <div class="card   card-hover">
                                    <div class="card-body">
                                        <h3 class="card-title" style="color:coral"> ปณิธาน</h3>
                                        <hr>
                                        <p class="card-text text-left ">มุ่งมั่นให้การศึกษาและวิจัย เพื่อผลิตทรัพยากรมนุษย์ที่มีความรู้ทางด้านวิทยาศาสตร์และเทคโนโลยี
                                            ควบคู่จริยธรรม และรักษาไว้ซึ่งศิลปวัฒนธรรมอันดีของประเทศ</p>
                                    </div>
                                </div>
                                <div class="card   card-hover">
                                    <div class="card-body">
                                        <h3 class="card-title" style="color:coral">วัตถุประสงค์ของคณะวิทยาศาสตร์</h3>
                                        <hr>
                                        <p class="card-text text-left ">1. เพื่อผลิตบัณฑิตด้านวิทยาศาสตร์และเทคโนโลยีที่มีคุณภาพ มีคุณธรรม จริยธรรมให้สอดคล้องกับความต้องการของสังคม
                                            <br/> 2. เพื่อสร้างและพัฒนาหลักสูตร บุคลากร อุปกรณ์ สื่อการสอน และแหล่งความรู้ให้อยู่ในระดับสากล
                                            <br/> 3. สนับสนุนและส่งเสริมการวิจัยเชิงประยุกต์และแสวงหาองค์ความรู้ใหม่
                                            <br/> 4. เพื่อประยุกต์ความรู้ในสาขาต่างๆ ด้านวิทยาศาสตร์และเทคโนโลยี สำหรับบริการทางวิชาการแก่สังคม
                                            อันเป็นการส่งเสริมคุณภาพชีวิตในสังคมและการพึ่งพาตนเองของประเทศ
                                            <br/> 5. ส่งเสริมและสนับสนุนการทำนุบำรุงศิลปวัฒนธรรมไทย</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="card  card-hover" >
                                    <div class="card-body">
                                        <h3 class="card-title " style="color:coral">วิสัยทัศน์</h3>
                                        <hr>
                                        <p class="card-text text-left "> มุ่งสู่การเป็นคณะวิทยาศาสตร์ชั้นนำ 1 ใน 10 ของภูมิภาคอาเซียนในปี ค.ศ.2020</p>
                                    </div>
                                </div>
                                <div class="card card-hover">
                                    <div class="card-body">
                                        <h3 class="card-title" style="color:coral">พันธกิจ</h3>
                                        <hr>
                                        <p class="card-text text-left ">1. ให้บริการด้านวิชาการและงานวิจัย ทั้งภายในและภายนอกสถาบัน
                                            <br/> 2. สร้างผลงานด้านวิชาการและผลงานวิจัยมุ่งเน้น นวัตกรรม สามารถนำไปใช้ประโยชน์ เพื่อแก้ปัญหา และพัฒนาประเทศสู่ความมั่นคง มั่งคั่ง และยั่งยืน
                                            <br/> 3. สร้างบัญฑิตที่มีความรู้ทั้งทางทฤษฎีและปฎิบัติ มีทักษะในการประกอบวิชาชีพ มีคุณธรรม และเป็นที่ต้องการของสังคม
                                       </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>