<div style="height: 28vh; width: 100%;">
</div>

<div class="main main-raised ">
    <div class="contact-content">
        <div class="  cd-section text-center">
            <div class="">
                <br>
                <div class="container-fluid">
                    <div class="title">
                        <center>
                            <h2>
                                <b>โครงสร้างองค์กร</b>
                            </h2>
                        </center>

                    </div>
                    <hr>

                    <div class="container">
                        <div class="">
                            <div class="">

                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="card card-background" style="background-image: url('https://image.freepik.com/free-photo/finances-saving-economy-concept-female-accountant-or-banker-use-calculator_1421-90.jpg')">
                                            <div class="card-body">
                                                <h3 class="card-title">การเงิน</h3>
                                                <p class="card-description">
                                                    • เงินงบประมาณ
                                                    <br/> • เงินรายได้
                                                    <br/> • เงินงบวิจัย
                                                    <br/> • ทุน
                                                    <br/> • เงินยืม
                                                    <br/> • งานตรวจสอบและควบคุมภายใน
                                                    <br/> • เงินเบิกค่าสอนอาจารย์ประจำ / พิเศษ
                                                    <br/> • เบิกค่าสอบวิทยานิพนธ์
                                                    <br/> • ค่าล่วงเวลาเจ้าหน้าที่ , ผู้ประสานงาน , เงินศูนย์บริการ</p>
                                            </div>
                                        </div>

                                        <div class="card card-background" style="background-image: url('https://image.freepik.com/free-photo/businessman-pointing-graphs-and-symbols_1232-917.jpg')">
                                            <div class="card-body">
                                                <h3 class="card-title">ประกันคุณภาพ</h3>
                                                <p class="card-description">
                                                    • ทำ SAR
                                                    <br/> • KM
                                                    <br/> • แผนบริหารความเสี่ยง</p>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="col-md-6 col-sm-12">
                                        <div class="card card-background" style="background-image: url('https://image.freepik.com/free-photo/job-interview-with-human-resource-manager-in-office_1936-249.jpg')">
                                            <div class="card-body">
                                                <h3 class="card-title">บริหารทรัพยากรบุคคล</h3>
                                                <p class="card-description">
                                                    • งานบริหารทรัพยากรบุคคล
                                                    <br/> • งานส่งเสริมและพัฒนาบุคลากร
                                                    <br/> • งานสวัสดิการบุคลากร
                                                    <br/> • งานธุรการและสารสนเทศบุคลากร</p>
                                            </div>
                                        </div>

                                        <div class="card card-background" style="background-image: url('https://image.freepik.com/free-photo/warehouse-stock-rack-with-box-and-package_7180-44.jpg')">
                                            <div class="card-body">
                                                <h3 class="card-title">พัสดุ</h3>
                                                <p class="card-description">
                                                    • การจัดซื้อจัดจ้างครุภัณฑ์
                                                    <br/> • จัดซื้อวัสดุ
                                                    <br/> • งานจ้างเหมาบริการ
                                                    <br/> • จัดทำเอกสารการจัดซื้อจัดจ้าง</p>
                                            </div>
                                        </div>


                                    </div>


                                </div>
                                <div class="row">


                                    <div class="col-md-6 col-sm-12">
                                        <div class="card card-background" style="background-image: url('https://image.freepik.com/free-photo/from-above-women-at-laptop_23-2147764548.jpg')">
                                            <div class="card-body">
                                                <h3 class="card-title">กิจการนักศึกษา</h3>
                                                <p class="card-description">
                                                    • กิจกรรมนักศึกษา
                                                    <br/> • ฝึกงาน
                                                    <br/> • ดูงาน</p>
                                            </div>
                                        </div>


                                        <div class="card card-background" style="background-image: url('https://image.freepik.com/free-photo/books-reading-concept-photo_1426-824.jpg')">
                                            <div class="card-body">
                                                <h3 class="card-title">แผนงานและวิจัย</h3>
                                                <p class="card-description">
                                                    • จัดทำแผนกลยุทธ์
                                                    <br/> • แผนปฎิบัติการ
                                                    <br/> • จัดทำคำรับรอง
                                                    <br/> • งบประมาณเงินรายได้
                                                    <br/> • งบประมาณแผ่นดิน
                                                    <br/> • งานต่างประเทศและทุนพัฒนาอาจารย์
                                                    <br/> • งานติดตามผลการดำเนินงาน
                                                    <br/> • งานสถิติคลังข้อมูล
                                                    <br/> • รายงานประจำปี</p>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="col-md-6 col-sm-12">


                                        <div class="card card-background" style="background-image: url('https://image.freepik.com/free-photo/education-concept-student-studying-and-brainstorming-campus-concept-close-up-of-students-discussing-their-subject-on-books-or-textbooks-selective-focus_1418-626.jpg')">
                                            <div class="card-body">
                                                <h3 class="card-title">วิชาการ</h3>
                                                <p class="card-description">
                                                    • หลักสูตร
                                                    <br/> • บัณฑิตศึกษา
                                                    <br/> • ทะเบียน
                                                    <br/> • เอกสารการพิมพ์
                                                    <br/> • งานวารสารวิทยาศาสตร์</p>
                                            </div>
                                        </div>


                                        <div class="card card-background" style="background-image: url('https://image.freepik.com/free-photo/business-man-financial-inspector-and-secretary-making-report-calculating-or-checking-balance-internal-revenue-service-inspector-checking-document-audit-concept_1423-126.jpg')">
                                            <div class="card-body">
                                                <h3 class="card-title">บริหารทั่วไป</h3>
                                                <p class="card-description">
                                                    • สารบรรณ
                                                    <br/> • พิธีการ
                                                    <br/> • อาคาร
                                                    <br/> • โสตฯ
                                                    <br/> • ประชาสัมพันธ์
                                                    <br/> • คอมพิวเตอร์</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col">
                                <h3>ส่วนวิชาการ (Academic Session)</h3>
                                <div class="row">
                                    <div class="col">
                                        1
                                    </div>
                                    <div class="col">
                                        2
                                    </div>
                                    <div class="col">
                                        3
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        1
                                    </div>
                                    <div class="col">
                                        2
                                    </div>
                                    <div class="col">
                                        3
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        1
                                    </div>
                                    <div class="col">
                                        2
                                    </div>
                                    <div class="col">
                                        3
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>