<div style="height: 24vh; width: 100%;">
</div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="  cd-section text-center">
            <div class="">
                <br>
                <div class="container">

                    <div class="title">
                        <center>
                            <h2>
                                <b>รายงานประจำปี</b>
                            </h2>
                        </center>

                    </div>
                    <hr>

                    <div class="container-fluid">

                        <!-- content -->
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                  
                                        <div class="">
                                                
                                            <h3>รายงานประจำปี พ.ศ. 2559</h3>
                                                <iframe style="overflow: auto;" id="Afile" class=" d-none d-md-block img-responsive box" src="http://www.science.kmitl.ac.th/oldweb/downloads/about/Report/2559.pdf" name="
                                                รายงานประจำปี พ.ศ. 2559 " height="800px" width="1000px" ></iframe> 
    
    
                                            </div>
                                            <br>
                                        <div class="">

                                                <a href="http://www.science.kmitl.ac.th/oldweb/downloads/about/Report/2559.pdf" target="_blank" type="button" class="btn btn-secondary btn-lg" style="width:100%">รายงานประจำปี พ.ศ. 2559</a>
                                                
                                            
                                        </div>
                            
                                 

                                    
                    


                    

                                 
                                </div>
                              
                            </div>
                            <br>

                            <div class="row">
                                <div class="col">
                                    <a href="http://www.science.kmitl.ac.th/oldweb/downloads/about/Report/2558.pdf" target="_blank" type="button" class="btn btn-secondary btn-lg" style="width:100%">รายงานประจำปี พ.ศ. 2558</a>
                                
                               
                                </div>
                                <div class="col">
                             <a href="http://www.science.kmitl.ac.th/oldweb/downloads/about/Report/2557.pdf" target="_blank" type="button" class="btn btn-secondary btn-lg" style="width:100%">รายงานประจำปี พ.ศ. 2557</a>
                                 </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                        <a href="http://www.science.kmitl.ac.th/oldweb/downloads/about/Report/2556.pdf" target="_blank" type="button" class="btn btn-secondary btn-lg" style="width:100%">รายงานประจำปี พ.ศ. 2556</a>
                                        
                                </div>
                                <div class="col">
                                        <a href="http://www.science.kmitl.ac.th/oldweb/downloads/about/Report/2555.pdf" target="_blank" type="button" class="btn btn-secondary btn-lg" style="width:100%">รายงานประจำปี พ.ศ. 2555</a>
                                        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                        <a href="http://www.science.kmitl.ac.th/oldweb/downloads/about/Report/2554.pdf" target="_blank" type="button" class="btn btn-secondary btn-lg" style="width:100%">รายงานประจำปี พ.ศ. 2554</a>
                                        
                                </div>
                                <div class="col">
                                        <a href="http://www.science.kmitl.ac.th/oldweb/downloads/about/Report/2553.pdf" target="_blank" type="button" class="btn btn-secondary btn-lg" style="width:100%">รายงานประจำปี พ.ศ. 2553</a>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>