
                 <hr>
               <div class="" ng-controller="news" ng-init="init()">
                        <div class="row justify-content-md-center">
                        
                                <div class="col-12 col-md-auto">
                                
                                      

                                        <ul class="nav nav-pills nav-pills-warning">
                                            <li class="nav-item"><a class="nav-link active" href="#pill1" data-toggle="tab">ทั้งหมด</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#pill2" data-toggle="tab">ข่าวประชาสัมพันธ์</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">สำหรับนักศึกษา</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#pill4" data-toggle="tab">ทุนวิจัย</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#pill5" data-toggle="tab">กิจกรรมต่างๆ</a></li>
                                        </ul>

                                    </div>
                                </div>
                                <hr>
                              
                                    <div class="tab-content tab-space">
                                        <div class="tab-pane active" id="pill1">
                                            <div class="container">
                                      
                                                
                                                    <div class="row" >
                                                            <div class="col-md-4" ng-repeat-start="item in news_list">
                                                                    <div class="card card-blog"   >
                                                
                                                                         
                                                
                                                                            <div  ng-if="item.topicPicture != ''" class="card-header card-header-image">
                                                                                    <a href="#pablo">
                                                                                        <img style="width:330px; height:186px" ng-src="{{item.topicPicture}}"  onerror="this.src='./assets/img/image_placeholder.jpg';" alt="not found">
                                                                                    </a>
                                                                                <div class="colored-shadow"
                                                                                 style="background-image:url({{item.topicPicture}}); opacity: 1;">
                                                                                </div>
                                                                            </div>
                                                
                                                
                                                                       
                                                                            <div  ng-if="item.topicPicture == ''" class="card-header card-header-image">
                                                                                    <a href="#pablo">
                                                                                        <img style="width:330px; height:186px" ng-src="http://localhost:2001/admin/admin-faculty/assets/img/image_placeholder.jpg" onerror="this.src='./assets/img/image_placeholder.jpg';" alt="not found">
                                                                                    </a>
                                                                                <div class="colored-shadow"
                                                                                 style="background-image: url(http://localhost:2001/admin/admin-faculty/assets/img/image_placeholder.jpg); opacity: 1;">
                                                                                </div>
                                                                            </div>
                                                
                                                                         
                                                                          
                                                
                                                                            <div class="card-body">
                                                                                <h4 class="card-category text-warning">{{item.topicShort}}</h4>
                                                                           
                                                                                <p class="card-description">
                                                                                        {{item.detailShort}}  </p>
                                                                                <a  ng-href="http://localhost:2001/news_each/{{item._id}}" class="btn btn-info btn-round" >อ่านต่อ</a>
                                                                                
                                                                            </div>
                                                                           
                                                
                                                                     
                                                                        </div>
                                                            </div>
                                                            <div class="clearfix" ng-if="$index%3==2"></div>
                                                            <div ng-repeat-end=""></div>
                                                        </div>
                                                
                                                      
                                        </div>
                                    </div>
                                        <div class="tab-pane  " id="pill2">
                                                 
                                                                    
                                        
                                        </div>
                                                        <div class="tab-pane" id="pill3">
                                                            Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                                            <br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                                                        </div>
                                                            <div class="tab-pane" id="pill4">
                                                                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                                                <br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                                            </div>
                                                            <div class="tab-pane" id="pill5">
                                                                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                                            <br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                                                            </div>
                                        </div>
                                
                                        
                                        <div id="myModal" class="modal fade" tabindex="-1"  aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                              <div class="modal-content">
                                                <!-- Modal Header -->
                                                <div class="modal-header">

                                                  <h3 class="modal-title ">{{modal_news.topicFull}}</h3>
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <!-- Modal Header -->
                                                <div class="modal-header " style="padding-top: 0px;">
                                                  <h4 class="modal-title ">{{modal_news.topicShort}}</h4>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                  <div class="container">
                                                    <div class="row">
                                            
                                        
                                                        <div class="col-md-12 ml-auto mr-auto ">
                                                                <div class="">
                                                                        <div ng-bind-html="trustAsHtml(modal_news.detailFull)"></div>
                                        
                                                                    </div>
                                                          
                                                      </div>
                                                    </div>
                                                    
                                        
                                                  </div>
                                                </div>
                                      
                                                <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <p><b>วันที่โพส : </b>{{modal_news.datetimePost}}</p>
                                                <p><b>ผู้แต่ง : </b>{{modal_news.author}}</p>
                                                <p><b>จำนวนการอ่าน : </b>{{modal_news.readCount}}</p>

                                                <p>
                                                        {{modal_news.resourceName}}
                                                        {{modal_news.departmentName}}
                                                </p>
                                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div> 
                                              </div>
                                            </div>
                                          </div>

                    </div>
                