  <!--  <div class="section-space"></div>-->

 
  <!--
-->
   <!--
  <div>
  <video autoplay loop id="video-background" muted plays-inline lass="page-header header-filter" data-parallax="true" 
  style=" overflow: hidden;margin-top: 5.9rem; ">
        <source src="https://youtu.be/Nrt9I8invA4" type="video/mp4">
      </video>
  -->
<style>

* { box-sizing: border-box; }
.video-background {
  background: linear-gradient(to bottom right, #D7BBEA, #65A8F1);
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

/* Reset. */
* {
    box-sizing: border-box;
}

/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }

    .panel .description {
        width: 25%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .panel img {
        box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
        width: 35%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

    .bottom .description {
        right: 5%;
    }

.top {
    background-color: rgb(77, 69, 173);
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color:rgba(253, 171, 0, 0);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}
</style>
<script>
 
</script>

<div ng-controller="homeHeaderCtrl" class="splitview skewed">
    <div class="panel bottom">
        <div class="content">
            <div class="description">
                <!-- <h1>The original image.</h1> -->
                <!-- <p>This is how the image looks like before applying a duotone effect.</p> -->
            </div>

            <img style="width:100%" src="../assets/img/head_bg4.jpg" alt="Original">
        </div>
    </div>

    <div class="panel top">
        <div class="content">
            <div class="description">
                <!-- <h1>The duotone image.</h1> -->
                <!-- <p>This is how the image looks like after applying a duotone effect.</p> -->
            </div>

            <img style="width:100%" src="../assets/img/head_bg5.jpg" alt="Duotone">
        </div>
    </div>

    <div class="handle"></div>
</div>




  <!-- <div class="page-header " data-parallax="true" style=" overflow: hidden; background-image: url(&apos;../assets/img/slide2.jpg&apos;);"> -->
  
    

    
   <!-- <div id="vidtop-content">
    <div class="vid-info">
          <h1>YouTube Fullscreen Background Demo</h1>
          <p>The International Space Station orbits the Earth every 92 minutes, with its crew seeing a sunrise 15 times a day. It exists as a scientific, educational, and engineering platform in low orbit, 330 to 435 kilometres above the Earth.
         <p>Original timelapse by Riccardo Rossi (ISAA), used under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. Raw photos courtesy of http://eol.jsc.nasa.gov/
         <a href="/500/Use-YouTube-Videos-as-Fullscreen-Web-Page-Backgrounds">Full article</a>
      </div>
    </div>-->



    <!-- <div class="angularjs-chat-bubble-white bubble-two" style="overflow: hidden;"></div>
    <div class="angularjs-chat-bubble-white bubble-six" style="overflow: hidden;"></div>
    <div class="angularjs-chat-bubble-white bubble-seven" style="overflow: hidden;"></div>
    <div class="angularjs-chat-bubble-white bubble-eight" style="overflow: hidden;"></div>
    <div class="container" style="margin-top:-9rem;">
        <div class="row">
            <div class="col-md-6 ml-auto text-right">
                <h1 class="title">คณะวิทยาศาสตร์ </h1>
                <h4>สถาบันเทคโนโลยีเจ้าคุณทหารลาดกระบัง</h4>
                <br>
                <a href="https://www.youtube.com/watch?v=gchO9xm8Qxs&list=PL5AAkqe2ZFnu0UX7SH3_RhU0YNyXY2m6q&index=5" target="_blank" class="btn btn-danger btn-raised btn-lg">
                    <i class="fa fa-5x fa-list"></i>    รายละเอียด
                </a>
            </div>
        </div>
    </div>
   
</div> -->
