
<div class=" text-center">
        <div class="container">
<h2 >เอกสาร</h2>
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="card card-pricing bg-rose ">
            <div class="card-body ">
                <div class="icon">
                        <i class="material-icons">description</i>
                </div>
                <h3 class="card-title">แบบฟอร์ม</h3>
                <p class="card-description">
                        ดาวน์โหลดแบบฟอร์มเอกสารต่างๆ ของคณะ เพื่อใช้ในการทำธุระต่างๆ โดยอาจารย์ เจ้าหน้าที่ และนักศึกษาทุกคน สามารถดาวน์โหลดเอกสารได้ในหน้านี้
                </p>
                <a href="/page#/docs_container" class="btn btn-white btn-round">ดูทั้งหมด</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h3 >ใช้บ่อย</h3>

        <!--    <form action="/api/getFormSourceById" method="post">
                
                <input type="text" name="formId" value="5ae34c072a1a2f1b0cc0e1eb" style="display: none">
                <button type="submit" class="" > แบบฟอร์มหนังสือรับรองการเป็นอาจารย์ที่ปรึกษาวิทยานิพนธ์</button>

            </form> -->
      
            <div class="card">
                    <div class=" container">
                     
                   <a  href="./form_each/5ae34c072a1a2f1b0cc0e1eb" target="_blank" class="" >แบบฟอร์มหนังสือรับรองการเป็นอาจารย์ที่ปรึกษาวิทยานิพนธ์</a>
               </div>
        
               </div>
   
               <div class="card">
                       <div class=" container">
                      <a  href="./form_each/5ae34bb72a1a2f1b0cc0e1e5" target="_blank" class="" >แบบฟอร์มขอแต่งตั้งอาจารย์บัณฑิต</a>
                  </div>
                  </div>
   
                  <div class="card">
                       <div class=" container">
                      <a  href="./form_each/5ae34bea2a1a2f1b0cc0e1e9" target="_blank" class="" >แบบฟอร์มขออนุมัติสอบวิทยานิพนธ์</a>
                  </div>
                  </div>
   
                  <div class="card">
                       <div class=" container">
                      <a  href="./form_each/5ae34bd62a1a2f1b0cc0e1e7" target="_blank" class="" >แบบฟอร์มกำหนดวันสอบหัวข้อและเค้าโครงวิทยานิพนธ์</a>
                  </div>
                  </div>
          
                  <!--
            <button type="button" class="btn btn-secondary btn-lg" style="width:100%" >Button</button>
            
             
            <button type="button" class="btn btn-secondary btn-lg" style="width:100%" >Button</button>
            
            
            <button type="button" class="btn btn-secondary btn-lg" style="width:100%" >Button</button>
            
                  -->
             
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="card card-pricing bg-warning ">
                    <div class="card-body ">
                        <div class="icon">
                                <i class="material-icons">description</i>
                        </div>
                        <h3 class="card-title">เอกสารทางการ</h3>
                        <p class="card-description">
                                ดาวน์โหลดเอกสารทางการต่างๆ หนังสือ บันทึกการประชุม หรือประกาศอื่นๆ ที่เคยได้ประกาศไว้
                        </p>
                        <a href="/page#/docs_container" class="btn btn-white btn-round">ดูทั้งหมด</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>ใช้บ่อย</h3>


                   <div class="card">
                    <div class=" container">
                   <a  href="./form_each/5ae34c3c2a1a2f1b0cc0e1ed"  target="_blank"class="" >แบบประเมินข้อเสนอโครงการวิจัย สจล.</a>
               </div>
               </div>


               <div class="card">
                    <div class=" container">
                   <a  href="./form_each/5ae34c6f2a1a2f1b0cc0e1ef"  target="_blank"class="" >ทุนพัฒนาศักยภาพนักวิจัย</a>
               </div>
               </div>


                    
                         
                
                </div>
</div>
</div>
</div>
