<div class="cards" id="morphingCards">
        
                        <div class="container">
                            <div class="title">
                                
                                <h3 id="rotatingCards">ภาควิชา</h3>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="rotating-card-container" stlye="height: 200px; " >
                                        <div class="card card-rotate card-background">
                                            <div class="front front-background" style="background-image: url(&quot;http://study.com/cimages/course-image/praxis-ii-chemistry-test_117894_large.jpg&quot;);height: 200px;  ">
                                                <div class="card-body">
                                                   
                                                    <a href="#pablo">
                                                        <h3 class="card-title">ภาควิชาเคมี</h3>
                                                    </a>
                                                    <p class="card-description">
                                                        
                                                    </p>
                                                </div>
                                            </div>
        
                                            <div class="back back-background" style="background-image: url(&quot;http://study.com/cimages/course-image/praxis-ii-chemistry-test_117894_large.jpg&quot;); height: 200px; ">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        Manage Post
                                                    </h5>
                                                    <p class="card-description">As an Admin, you </p>
                                                    <div class="footer text-center">
                                                        <a href="#pablo" class="btn btn-info btn-just-icon btn-fill btn-round">
                                                            <i class="material-icons">subject</i>
                                                        </a>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="rotating-card-container"  stlye="height: 200px; " >
                                            <div class="card card-rotate card-background" >
                                                <div class="front front-background" style="background-image: url(&quot;https://www.dailywire.com/sites/default/files/styles/article_full/public/uploads/2017/08/math.jpg?itok=vlqwg76Q&quot;); height: 200px;  ">
                                                    <div class="card-body">
                                                       
                                                        <a href="#pablo">
                                                            <h3 class="card-title">ภาควิชาคณิตศาสตร์</h3>
                                                        </a>
                                                        <p class="card-description">
                                                           
                                                        </p>
                                                    </div>
                                                </div>
            
                                                <div class="back back-background" style="background-image: url(&quot;https://www.dailywire.com/sites/default/files/styles/article_full/public/uploads/2017/08/math.jpg?itok=vlqwg76Q&quot;); height: 200px; ">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Manage Post
                                                        </h5>
                                                        <p class="card-description">As an Admin, you have</p>
                                                        <div class="footer text-center">
                                                            <a href="#pablo" class="btn btn-info btn-just-icon btn-fill btn-round">
                                                                <i class="material-icons">subject</i>
                                                            </a>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
        
                                <div class="col-md-3 col-lg-3">
                                        <div class="rotating-card-container" style="height: 200px; ">
                                            <div class="card card-rotate card-background">
                                                <div class="front front-background" style="background-image: url(&quot;https://scienceofsingularity.files.wordpress.com/2014/04/58945-neural-cell-electricity.jpg&quot;);height: 200px; ">
                                                    <div class="card-body">
                                                       
                                                        <a href="#pablo">
                                                            <h3 class="card-title">ภาควิชาชีววิทยา
                                                                 
                                                                    </h3>
                                                        </a>
                                                        <p class="card-description">
                                                         
                                                        </p>
                                                    </div>
                                                </div>
            
                                                <div class="back back-background" style="background-image: url(&quot;https://scienceofsingularity.files.wordpress.com/2014/04/58945-neural-cell-electricity.jpg&quot;); height: 200px; ">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Manage Post
                                                        </h5>
                                                        <p class="card-description">As an Admin, you have .</p>
                                                        <div class="footer text-center">
                                                            <a href="#pablo" class="btn btn-info btn-just-icon btn-fill btn-round">
                                                                <i class="material-icons">subject</i>
                                                            </a>
                                                   
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="rotating-card-container" stlye="height: 200px; "  >
                                                <div class="card card-rotate card-background">
                                                    <div class="front front-background" style="background-image: url(&quot;https://www.phys.soton.ac.uk/sites/www.phys.soton.ac.uk/files/Light1.jpg&quot;);height: 200px;  ">
                                                        <div class="card-body">
                                                       
                                                            <a href="#pablo">
                                                                <h3 class="card-title">ภาควิชาฟิสิกส์</h3>
                                                            </a>
                                                            <p class="card-description">
                                                               
                                                            </p>
                                                        </div>
                                                    </div>
                
                                                    <div class="back back-background" style="background-image: url(&quot;https://www.phys.soton.ac.uk/sites/www.phys.soton.ac.uk/files/Light1.jpgg&quot;);height: 200px; ">
                                                        <div class="card-body">
                                                            <h5 class="card-title">
                                                                Manage Post
                                                            </h5>
                                                            <p class="card-description">As an Admin, you hav.</p>
                                                            <div class="footer text-center">
                                                                <a href="#pablo" class="btn btn-info btn-just-icon btn-fill btn-round">
                                                                    <i class="material-icons">subject</i>
                                                                </a>
                                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
        
                                    <div class="col-md-3 col-lg-3">
                                            <div class="rotating-card-container" style="height: 200px!important;  ">
                                                <div class="card card-rotate card-background">
                                                    <div class="front front-background" style="background-image: url(&quot;https://www.joshmatthews.net/cusec16/pictures/shutterstock_124758646-copy.jpg&quot;);height: 200px!important;  ">
                                                        <div class="card-body">
                                                           
                                                            <a href="#pablo">
                                                                <h3 class="card-title">ภาควิชาวิทยาการคอมพิวเตอร์</h3>
                                                            </a>
                                                            <p class="card-description">
                                                              
                                                            </p>
                                                        </div>
                                                    </div>
                
                                                    <div class="back back-background" style="background-image: url(&quot;https://www.joshmatthews.net/cusec16/pictures/shutterstock_124758646-copy.jpg&quot;);height: 200px!important;  ">
                                                        <div class="card-body">
                                                            <h5 class="card-title">
                                                                รายละเอียด
                                                            </h5>
                                                            <p class="card-description">xxxxxxxxxx</p>
                                                            <div class="footer text-center">
                                                                <a href="https://sciweb.herokuapp.com/department.html/" class="btn btn-info btn-just-icon btn-fill btn-round">
                                                                    <i class="material-icons">subject</i>
                                                                </a>
                          
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="rotating-card-container" stlye="height: 200px; "  >
                                                    <div class="card card-rotate card-background">
                                                        <div class="front front-background" style="background-image: url(&quot;http://www.diaglobal.org/en/~/media/americas/images/hero/1024x576/2017/17008-1024x576.jpg&quot;);height: 200px!important;  ">
                                                            <div class="card-body">
                                                             
                                                                <a href="#pablo">
                                                                    <h3 class="card-title">ภาควิชาสถิติ</h3>
                                                                </a>
                                                                <p class="card-description">
                                                                  
                                                                </p>
                                                            </div>
                                                        </div>
                    
                                                        <div class="back back-background" style="background-image: url(&quot;http://www.diaglobal.org/en/~/media/americas/images/hero/1024x576/2017/17008-1024x576.jpg&quot;);height: 200px !important; ">
                                                            <div class="card-body">
                                                                <h5 class="card-title">
                                                                    Manage Post
                                                                </h5>
                                                                <p class="card-description">As an Admin, you have </p>
                                                                <div class="footer text-center">
                                                                    <a href="#pablo" class="btn btn-info btn-just-icon btn-fill btn-round">
                                                                        <i class="material-icons">subject</i>
                                                                    </a>
                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                                <div class="rotating-card-container" style="height: 480px; margin-bottom: 30px;">
                                                    <div class="card card-rotate card-background">
                                                        <div class="front front-background" style="background-image: url(&quot;http://www.science.kmitl.ac.th/wp-content/themes/personalTheme/images/lab-2107510_1280.jpg&quot;); height: 480px; width: 100%;">
                                                            <div class="card-body">
                                                               
                                                                <a href="#pablo">
                                                                    <h3 class="card-title">ศูนย์เครื่องมือวิทยาศาสตร์</h3>
                                                                </a>
                                                                <p class="card-description">
                                                                    
                                                                </p>
                                                            </div>
                                                        </div>
                    
                                                        <div class="back back-background" style="background-image: url(&quot;http://www.science.kmitl.ac.th/wp-content/themes/personalTheme/images/lab-2107510_1280.jpg&quot;); height: 480px; width: 100%;">
                                                            <div class="card-body">
                                                                <h5 class="card-title">
                                                                    Manage Post
                                                                </h5>
                                                                <p class="card-description">As an Admin, you have .</p>
                                                                <div class="footer text-center">
                                                                    <a href="#pablo" class="btn btn-info btn-just-icon btn-fill btn-round">
                                                                        <i class="material-icons">subject</i>
                                                                    </a>
                                                     
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            </div>
        
        
                            
                        </div>
        
                    </div>