  <!--  <div class="section-space"></div>-->
  <div class="page-header header-filter" data-parallax="true" style=" overflow: hidden; background-image: url(&apos;../assets/img/slide2.jpg&apos;);">
    <div class="angularjs-chat-bubble-white bubble-two"></div>
    <div class="angularjs-chat-bubble-white bubble-six"></div>
    <div class="angularjs-chat-bubble-white bubble-seven"></div>
    <div class="angularjs-chat-bubble-white bubble-eight"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto text-right">
                <h1 class="title">คณะวิทยาศาสตร์ </h1>
                <h4>สถาบันเทคโนโลยีเจ้าคุณทหารลาดกระบัง</h4>
                <br>
                <a href="https://www.youtube.com/watch?v=gchO9xm8Qxs&list=PL5AAkqe2ZFnu0UX7SH3_RhU0YNyXY2m6q&index=5" target="_blank" class="btn btn-danger btn-raised btn-lg">
                    <i class="fa fa-5x fa-list"></i>    รายละเอียด
                </a>
            </div>
        </div>
    </div>
   
</div>
